@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,600&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$dark-orange: #cf5c0d;
$white: #ffffff;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

$r_minmob: 320px;
$r_mob_360: 360px;
$r_mob_400: 400px;
$r_mob_500: 500px;
$r_mob_600: 600px;
$r_tab: 768px;
$r_tab_900: 900px;
$r_desk: 1000px;
$r_desk_1120: 1120px;
$r_desk_hd: 1200px;
$r_desk_1280: 1280px;
$r_desk_1350: 1350px;
$r_desk_full_1750: 1750px;

html {
    font-size: 10px;
    @media (max-width: $r_mob_500) {
        font-size: 8px;
    }
}

body {
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green;
    background-image: url(../images/catalog/background.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
}
a{
   text-decoration: none;
    }


.logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    flex-basis: 12rem;
    height: 3.2rem;
    @media (max-width: $r_tab) {
        height: 7rem;
        width: 13.2rem;
    }
    @media (max-width: $r_mob_500) {
        height: 3.4rem;
        width: 9.8rem;
    }
    &_footer{
        flex-basis: 28rem;
        margin-top: 0.8rem;
        height: 4.8rem;
        @media (max-width: $r_tab) {
            flex-basis: 4rem;
            margin-top: -4rem;
            margin: 0 auto;
        }
    }
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    @media (max-width: $r_tab) {
        max-width: 60rem;
    }
    @media (max-width: $r_mob_500) {
    padding-right: -1.5rem;
}
}
ul {
    margin: 0;
    padding-left: 0;
    text-decoration: none;
}

.header {
max-width: 144rem;
margin: 0 auto 6rem;
padding-top: 4rem;
padding-left: 1.5rem;
padding-right: 1.5rem;
display: flex;
justify-content: space-between;
align-items: center;
gap: 5%;
@media (max-width: $r_desk_1280) {
    gap: 3%;
}
&__nav {
    display: flex;
    list-style-type: none;
    gap: 4.8rem;
    margin: 0;
    padding-left: 0;
    @media (max-width: $r_desk_hd) {
        gap: 2.5rem;
    }
    
}
&__navigation {
    flex-grow: 1;
    margin-left: 4.5rem;
    @media (max-width: $r_desk_1280) {
        margin-left: 0;
    }
    @media (max-width: $r_desk_hd) {
        flex-grow: 0;
    }
    @media (max-width: $r_tab_900) {
        display: none;
    }
}
&__link {
    font-family: $font-jost;
    color: $green;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
        color: $orange;
        
    }
}
 &__tel {
    font-weight: 500;
    color: $green;
    flex-basis: 18rem;
    letter-spacing: .13rem;
    text-align: right;
    &:hover {
        color: $orange;
        transition: 0.2s;
    }
    @media (max-width: $r_desk_hd) {
        display: none;
    }
    
}

&__cart {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-color: $orange;
    background-image: url(../images/cart.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.7rem 1.5rem;
    position: relative;
    cursor: pointer;
    border: 1px solid $orange;
    transition: .2s;
    padding: 0;
    @media (max-width: $r_desk_hd) {
        background-image: url(../images/cartgreen.svg);
        background-color: $white;
        border: 1px solid $green;
        opacity: 0.8;
    } 
    @media (max-width: $r_mob_500) {
        height: 4.5rem;
        width: 4.5rem;
        background-size: 2rem;
    }
    &:hover {
    background-color: $green;
    border: 1px solid $green;
    transition: 0.2s;
    @media (max-width: $r_desk_hd) {
         background-color: $white;
         opacity: 1;
    }

    }
   
}

&__counter {
    font-size: .8rem;
    color: $white;
    position: absolute;
    right: 1rem;
    top: .6rem;
    @media (max-width: $r_desk_hd) {
        color: $green;
    }
    @media (max-width: $r_mob_500) {
        font-size: 1rem;
    }
    
}
&__phone, &__menu {
    display: none;
}
&__phone {
    @media (max-width: $r_desk_hd) {
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background-color: $white;
        background-image: url(../images/tel.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1.7rem 1.5rem;
        position: relative;
        border: 1px solid $green;
        transition: .2s;
        padding: 0;
        opacity: 0.8;
        @media (max-width: $r_mob_500) {
            height: 4.5rem;
            width: 4.5rem;
            background-size: 2rem;
        }
    }
    &:hover {
        opacity: 1;
    }
}

&__menu {
    @media (max-width: $r_tab_900) {
        display: block;
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        background-color: $white;
        background-image: url(../images/menu.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1.7rem 1.5rem;
        position: relative;
        border: 1px solid $green;
        transition: .2s;
        padding: 0;
        opacity: 0.8;
    }
    @media (max-width: $r_mob_500) {
        height: 4.5rem;
        width: 4.5rem;
         background-size: 2rem;
    }
    &:hover {
        opacity: 1;
    }
}
&__buttons {
    @media (max-width: $r_desk_hd) {
        display: flex;
        align-items: center;
        gap: 2rem;
        @media (max-width: $r_mob_500) {
            gap: 1.6rem;
        }
    }
}
}
.main {
    padding-bottom: 18.7rem;
    position: relative;
    @media (max-width: $r_tab) {
        padding-bottom: 0rem;
     }
    &__item {
      margin-left: 12rem;  
      max-width: 37.8rem;
      margin-top: 6rem;
      @media (max-width: $r_desk_1280) {
        margin-left: 8rem;  
    }
    @media (max-width: $r_desk_1120) {
        margin-left: 4rem;  
    }

    @media (max-width: $r_tab) {
        max-width: 100%;
        margin-left: 0;
        padding-bottom: 6rem;
     }
    }
    &__link {
    margin-top: 6rem;
    @media (max-width: $r_tab) {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 35rem;
     }
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        align-items: center;
        @media (max-width: $r_desk_1120) {
            padding-top: 3rem;
            padding-bottom: 7rem;
        }
    }
    &__cover {
        flex-basis: 75.8rem;
        height: 75.8rem;
        border: 0.1rem solid rgba($green, 0.4);
        border-radius: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        @media (max-width: $r_desk_1350) {
            flex-basis: 650px;
            height: 650px;
        }
        @media (max-width: $r_desk_hd) {
            flex-basis: 600px;
            height: 600px;
        }
        @media (max-width: $r_desk_1120) {
            border: 1px solid transparent;
            height: auto;
            flex-basis: calc(100% - 39.5rem);
        }
        @media (max-width: $r_tab) {
           display: none;
          
        }
    }
    &__line {
        width: 65.8rem;
        height: 65.8rem;
        border: 0.1rem solid rgba($green, 0.4);
        border-radius: 100%;   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (max-width: $r_desk_1350) {
            width: 600px;
            height: 600px;
        }
        @media (max-width: $r_desk_hd) {
          border: 1px solid transparent;
          width: auto;
          height: auto;
        }

    }
    &__image-bg {
        width: 77%;
        border-radius: 100%;
        animation: shadow 3s infinite;
    }
    .mobi {
        display: flex;
        justify-content: center;
        
    }
    &__image-mobi {
        display: none;
        @media (max-width: $r_tab) {
           display: block;
           max-width: 300px;
           margin-top: 2rem;
           animation: shadow 3s infinite;
           border-radius: 100%;
           @media (max-width: $r_mob_500) {
            max-width: 220px;
        }     
    }
}
    &__text {
        padding-top: 2rem;
        @media (max-width: $r_desk_1120) {
           flex-basis: 39.5rem;
        }
        @media (max-width: $r_tab) {
            flex-basis: 100%;
            padding-top: 0;
        }
    }
    &__btn {
        background-color: transparent;
        border: none;
        padding: 0rem;
        position: absolute; 
        color: $green;
        text-align: left;
        cursor: pointer;
        transition: 0.2s;

        &:hover::before{
            background-color: #cf5c0d !important ;
        }
       
        &::before {
            content: '';
            background-color: $green;
            width: 1.1rem;
            height: 1.1rem;
            box-shadow: 0 0 0 0.4rem $white, 0 0 0 0.5rem $green;
            border-radius: 100%;
            position: absolute; 
        }
       
        &_01 {
            top: 5.5rem;
            left: 6.3rem;
            @media (max-width: $r_desk_hd) {
                top: 1.5rem;
            }
            @media (max-width: $r_desk_1120) {
               display: none;
            }
            &::before {
                bottom: 0.9rem;
                right: -3.5rem;
                
            }
        }
        &_02 {
            top: 18.7rem;
            right: 1.4rem;
            @media (max-width: $r_desk_1350) {
               top: 10.7rem;
            }
            @media (max-width: $r_desk_hd) {
                top: 5.5rem;
            }
            @media (max-width: $r_desk_1120) {
                display: none;
             }
            &::before {
                bottom: 1.7rem;
                left: -2.6rem;
            }
        }
        &_03 {
            bottom: -4rem;
            right: 24rem;
            @media (max-width: $r_desk_hd) {
                bottom: -5.5rem;
            }
            @media (max-width: $r_desk_1120) {
                display: none;
             }
            &::before {
                bottom: 5rem;
                left: 1rem;
            }
        }
    }
    img{
        position: absolute;
    }
    &__food {
       display: block; 
       color: rgba($green, 0.8);
    }

    &__tomato {
        right: 12rem;
        bottom: 13rem;
        width: 11rem;
         @media (max-width: $r_tab) {
            width: 7rem;
            right: 2rem;
            bottom: 0;
         } 
         @media (max-width: $r_mob_500) {
            bottom: initial;
            top: 10rem;
            right: inherit;
            left: -2rem;
        }

       
    }
    &__avocado {
        right: 0rem;
        top: 12rem;
        width: 9.9rem;
        z-index: -1;
        @media (max-width: $r_mob_500) {
           top: 11.5rem;
           right: -4.8rem; 
    }
        
    }
    &__cucumber {
        top: 0;
        left: 68rem;
        width: 8rem;
        @media (max-width: $r_desk_full_1750) {
            top: 0;
            left: 15rem;
            width: 6rem;
         }  
         @media (max-width: $r_mob_500) {
            transform: rotate(90deg);
            width: 6rem;
            top: inherit;
            left: inherit;  
            right: 0; 
            bottom: 25rem;
    }
}
    &__pepper {
        left: 3rem;
        top: 40rem;
        width: 8rem; 
        @media (max-width: $r_desk_full_1750) {
            display: none;
         }
         @media (max-width: $r_mob_500) {
            display: block;
            top: 45.2rem;
            left: -.4rem;
            width: 4.6rem;
        }
    }
    &__beans {
        bottom: 15rem;
        left: 0;
        width: 10rem;
        @media (max-width: $r_tab) {
            width: 7.5rem;
            bottom: 2rem;
         }
        @media (max-width: $r_mob_500) {
            display: none;
        }
    }
}
.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    margin: 0;
   
    @media (max-width: $r_desk_1120) {
        font-size: 6rem;
    }
    @media (max-width: $r_tab) {
       text-align: center;
    }
    &__span {
        font-style: italic;
        margin-top: -14px;
    }
    &_block {
        .title__span {
            display: block;
        }
    }
}
.description {
    margin: 0;
    line-height: 1.5;
    @media (max-width: $r_tab) {
        text-align: center;
    }
    &_size-s {
        font-size: 1.8rem;
        @media (max-width: $r_desk_1280) {
            font-size: 1.6rem;
        }
    }
    &_size-m {
        font-size: 2.4rem;
        @media (max-width: $r_desk_1280) {
            font-size: 2.2rem;
        }
    }
}

.link {
color: $white;
text-transform: uppercase;
padding: 2.4rem 4.3rem;
background-color: $orange;
box-shadow: 0rem 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
text-decoration: none;
border-radius: 3.8rem;
display: inline-block;
border: none;
border: 3px solid $orange;
cursor: pointer;
transition: 2s;
@media (max-width: $r_desk_1280) {
    font-size: 1.4rem;
}
@media (max-width: $r_tab) {
    
     padding: 1.4rem 4.3rem;
     margin: 0 auto;
     margin-top: 0;
}

&:hover  {
    border: 3px solid black;
    $dark-orange: #cf5c0d;
 }
&_min { 
    cursor: pointer;
    font-size: 1.4rem;
    padding: 2rem 3.4rem;
    box-shadow: 0rem 0.1rem 1.1rem .17rem rgba(207, 92, 13, 0.15);
    &:hover  {
    opacity: 1;
     }
     @media (max-width: $r_tab) {
        font-size: 1rem;
         padding: 1.2rem 2.4rem;
         width: 100%;
         margin: 0 auto;
         margin-top: 0;
    }
}
}
.offer {
    padding-top: -2rem;
    padding-bottom: 12.8rem;
    @media (max-width: $r_tab) {
        padding-bottom: 4rem;   
 }

    &__text {
        margin-top: 5.4rem;
        max-width: 70rem;
    }
}

.slider {
    overflow: hidden;
    padding-top:9.4rem;
    @media (max-width: $r_tab) {
        max-width: 45rem;
        margin: 0 auto;
        padding-top: 5.4rem;
        padding-bottom: 5rem;
    }
    @media (max-width: $r_mob_500) {
        max-width: 26.5rem;
    }
}
.swiper {
    overflow: initial;
    &-slide {
    border: 0.1rem solid rgba($green, 0.4);
    border-radius: 2rem;
    padding: 3rem 3.7rem 3.8rem;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 0;
    transition: .3s;
    &:hover {
        box-shadow: 0 0 0 0.2rem rgba($green, 0.4) inset;
    }
    @media (max-width: $r_tab) {
        height: 40rem;
        width: 21.1rem;
    }
    &__elements {
        @media (max-width: $r_tab) {
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center; 
        }  
    }
    &_white {
        height: 52rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 4rem 3.7rem;
        @media (max-width: $r_desk_hd) {
            height: 40rem;
        }
        @media (max-width: $r_tab) {
            max-width: 60rem;
        }
        @media (max-width: $r_mob_500) {
            height: 29.9rem;
            text-align: center;
            padding: 2.4rem 1.7rem;
    }
       
        &:hover {
            .swiper-slide__hover {
                height: 233px; 
                opacity: 1;
                @media (max-width: $r_mob_500) {
                    height: auto; 
                }
            }  
        } 
        &:hover {
            box-shadow: 0 0 0 0.2rem rgba($green, 0.4) inset;
            .swiper-slide__hover {
                height: 233px; 
                opacity: 1;
            }
            &::after {
                content: '';
                background-color: rgba($white, .55);
                width: calc(100% - 4px);
                height: calc(100% - 4px);
                top: 0.2rem;
                left: 0.2rem;
                position:absolute;
                border-radius: 2rem;
                z-index: -1;
            }
        }
    }
      
&_milk {
    background-image: url(../images/milk.png);
}
&_pasta {
    background-image: url(../images/pasta.png);
}
&_steaks {
    background-image: url(../images/steaks.png);
}
   &__title {
    font-family: $font-cormorant;
    font-size: 3rem;
    color: $green;
    margin-bottom: 0;
    @media (max-width: $r_tab) {
        font-size: 2rem;
        margin-top: 0.2rem;
        margin-bottom: -0.8rem;
    }
    @media (max-width: $r_mob_500) {
        font-size: 1.75rem;
        margin-top: 0;
        margin-bottom: 2rem;
    }
    
   }
   &__hover {
    height: 0;
    opacity: 0;
    @media (max-width: $r_mob_500) {
        height: auto;
        opacity: 1;
    }
   }
   &__text {
    font-size: 1.6rem;
    color: rgba($green, 0.7);
    max-width: 26.3rem;
    line-height: 1.5;
    margin-bottom: 3.4rem;
    margin-top: 2.5rem;
    @media (max-width: $r_mob_500) {
        display: none;
    }
   }
   &__description {
    font-size: 1.8rem;
    color: rgba(39, 48, 15, 0.7);
    margin-top: 2rem;
    margin-bottom: 0;
    min-height: 5.5rem;
    max-width: 30rem;
    line-height: 1.5;
    @media (max-width: $r_tab) {
        font-size: 1.5rem;
        max-width: 36rem;
    }
}
&__price {
    font-size: 2rem;
    margin-top: 3rem;
    @media (max-width: $r_tab) {
        font-size: 2rem;
    }
}
   &__link {
    text-transform:uppercase;
    font-weight: 500;
    color: rgba($green, 0.8);
    text-decoration: none;
    letter-spacing: 0.1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    opacity: 0.8;
    transition: .2s;
    @media (max-width: $r_mob_500) {
       font-size: 1.25rem;
       justify-content: center;
       gap: 1rem;
    }
    @media (max-width: $r_mob_500) {
        font-size: 1.25rem;
        justify-content: center;
        gap: .9rem;
     }
    &:hover {
        opacity: 1;
    }
   
    &::before {
        content: '';
        display: block;
        border-radius: 100%;
        border: 0.1rem solid $green;
        width: 3rem;
        height: 3rem;
        background-image: url(../images/plus.svg);
        background-size: cover;
        background-repeat: no-repeat;
        @media (max-width: $r_mob_500) {
            width: 2rem;
            height: 2rem;
         }
    }
}

&__cover {
    position: relative;
    overflow: hidden;   
    width: 100%;
    height: 32.2rem;
    text-align: center;
    @media (max-width: $r_tab) {
        height: 15rem;
    }
   
}

&__image {
   height: 100%;
   width: 100%;
   max-width: 35.1rem;
   object-fit: contain; 
   @media (max-width: $r_tab) {
    max-width: 20.1rem;
}
}

&__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
   }
   &-pagination {
    display: none;
    @media (max-width: $r_tab) {
    display: block;
    }
   }
    &-button-next, &-button-prev {
    top: -6rem;
    @media (max-width: $r_tab) {
        display: none;
        }
    &:hover {
        &::after {
            color: rgba($green, 1);
         }
    }
    &::after {
       color: rgba($green, 0.4); 
       font-size: 2rem;
    }
   }
   &-button-next {
    right: -0.8rem;
   }
   &-button-prev {
    left: initial;
    right: 10rem;
   }
}

.swiper-horizontal>.swiper-pagination-bullets {
       bottom: -5rem;
       display: flex;
       justify-content: center;
       align-items: center;
       @media (max-width: $r_mob_500) {
        bottom: 5rem;
        }
}

.swiper-pagination-bullet-active {
    background: $orange;
    border: 1px solid $orange;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
}
.counter {
    display: flex;
    &__btn {
        cursor: pointer;
        height: 50px;
        width: 50px;
        border: 0.1rem solid $green;
        background-color: transparent;
        padding: 0;
        border-radius: 100%;
        @media (max-width: $r_tab) {
            display: none;
        }
        &_min {
            width: 4rem;
            height: 4rem;
        }
    }
    &__minus {
        pointer-events: none;
        background-image: url(../images/minus-counter.svg);
        background-size: 2rem 1.1rem;
        background-repeat: no-repeat;
        background-position: center;
        opacity: .4;
    }
    &__plus {
        background-image: url(../images/plus-counter.svg);
        background-size: 2rem 1.1rem;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__input {
        text-align: center;
        font-size: 2.4rem;
        width: 4.6rem;
        border: none;
        @media (max-width: $r_tab) {
            display: none;
        }
        &_min {
            width: 3.3rem;
        }
      
    }
}

.about {
   
        .title {
            margin-top: 3.9rem;
        }
        &__box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 6rem;  
        }
        &__text {
            margin-left: 12rem;  
            flex-basis: 62rem;
            @media (max-width: $r_desk_1280) {
                margin-left: 8rem;  
            }
            @media (max-width: $r_desk_1120) {
                margin-left: 4rem;  
            }
            @media (max-width: $r_tab) {
                flex-basis: 100%;
             }
            
        }

       
        &__list-holder {
            display: none;
            @media (max-width: $r_tab) {
               margin-top: 4.4rem;
                display: flex;
                gap: 4rem;
                justify-content: center;
                align-items: center;  
                font-family: $font-cormorant;
                font-style: italic;
                font-size: 3rem;
            }
        }
   
        &__list {
            list-style-type: none;
            display: flex;
            gap: 9rem;
            font-family: $font-cormorant;
            font-style: italic;
            font-size: 3rem;
            margin: 0;
            padding-left: 0;
            margin: 0;
            @media (max-width: $r_desk_1280) {
               gap: 4rem; 
            }
            @media (max-width: $r_desk_1120) {
                margin-left: 4rem;  
            }
            @media (max-width: $r_tab) {
               display: none;  
            }

        }


        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &::before {
                content: '';
                border: 1px solid rgba($green, 0.4);
                border-radius: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                width: 84px;
                height: 84px;
                margin-bottom: 1.5rem;  
                
            }
            &:nth-child(1) {
                &::before {
                    background-image: url(../images/fruits.svg);
                    background-size: 4.4rem 4.1rem;
                }
            }
            &:nth-child(2) {
                &::before {
                    background-image: url(../images/traditional.svg);
                    background-size: 4rem 4rem;
                }
            }
            &:nth-child(3) {
                &::before {
                    background-image: url(../images/good.svg);
                    background-size: 4rem 4rem;
                }
            }
        }
}

.trends {
        .title {
            margin-top: 6.3rem;
        }

        &__text {
        margin-top: 32px;
    }

}

.catalog {
        background-image: url(../images/trendsimg.png);
        background-size: contain;
        background-position-x: center;
        background-repeat: no-repeat;
        
        .title {
            margin-top: 17.3rem;
            @media (max-width: $r_tab) {
                margin-top: 5.8rem;
            }
        }
        
        &__text {
        margin-top: 32px;
    }

    &__list {
        margin-top: 8.5rem;
        margin-bottom: 5rem;
        @media (max-width: $r_tab) {
            margin-top: 4rem;
        }
    }
}
.variants {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 0;
    list-style-type: none;
    &__list {
        flex-basis: 23rem;
        text-align: center;
    }
    &__link {
        flex-basis: 23rem;
        text-align: center;
        padding: 2.4rem 0;
        border: .1rem solid  rgba($green, .5);
        color: rgba($green, .5);
        font-size: 1.8rem;
        text-decoration: none;
        border-radius: 4rem;
        display: block;
        &:hover {
            border: .1rem solid $orange;
            color: $orange;
        }
    }
}

.catalog-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    @media (max-width: $r_tab) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    @media (max-width: $r_tab) {
    gap: 1rem;
    }

&__item {
    border: 0.1rem solid rgba($green, 0.4);
    border-radius: 2rem;
    padding: 2.7rem 3rem 3.8rem;
    box-sizing: border-box;
    transition: .3s;
    &:hover {
        box-shadow: 0 0 0 0.2rem rgba($green, 0.4) inset;
    }
    @media (max-width: $r_tab) {
        padding: 2.2rem 2rem 2.8rem;
    }
}
&__cover {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 21rem;
    text-align: center;
    @media (max-width: $r_tab) {
        height: 15rem;
     }
}
&__image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
&__title {
    font-family:$font-cormorant;
    font-size: 3rem;
    color: #27300f;
    margin-top: 1.7rem;
    margin-bottom: 0;
    @media (max-width: $r_tab) {
        font-size: 1.7rem;
        margin-top: 0.2rem;
        margin-bottom: -0.8rem;
        font-weight: 700; 
    }
}
&__description {
    font-size: 1.6rem;
    color: rgba($green, .7);
    margin-top: 1.8rem;
    margin-bottom: 0;
    min-height: 6.1rem;
    max-width: 30rem;
    line-height: 1.5;
    @media (max-width: $r_tab) {
        font-size: 1.2rem;
        max-width: 36rem; 
        margin-bottom: 1rem;
    }
}
&__price {
    font-size: 2.4rem;
    margin-bottom: 3rem;
    margin-top: 0;
    @media (max-width: $r_tab) {
        font-size: 1.5rem;
        margin-top: 0;
    }
}
&__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
&__link {
    @media (max-width: $r_tab) {
        font-size: 1.5rem;
        margin-top: 0;
    }
}
}
.refresh {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
   
    &__btn {

        text-transform: uppercase;
        font-size: 1.6rem;
        font-style: $font-jost;
        color: rgba($green, 0.8);
        border: none;
        background: transparent;
        
        &::before {
            content: '';
           background-image: url(../images/refresh.svg);
           background-size: 2rem;
           background-repeat: no-repeat;
           width: 3rem;
           opacity: 80%;
           
        }
    }
}
.payment {
   .title {
    margin-top: 13.8rem;
    @media (max-width: $r_tab) {
        margin-top: 6rem;
    }
   }
   
   &__box {
    display: flex;
    justify-content: space-between;
    margin-top: 6.6rem;  
    @media (max-width: $r_tab) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center; 
        @media (max-width: $r_tab) {
            margin-top: 4rem;
        }
    }
}
&__link {
    color: $green;
    text-decoration: none;
    position: relative;
    transition: 2s;
    &:hover {
        color: #d26a22;
    }
    &:hover::after {
        background-color: #cf5c0d !important ;
    }
    &::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #858881;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}
   &__text {
    margin-left: 12rem;  
    flex-basis: 62rem;
    @media (max-width: $r_desk_1280) {
        margin-left: 8rem;  
    }
    @media (max-width: $r_desk_1120) {
        margin-left: 4rem;  
    }
    @media (max-width: $r_tab) {
       flex-basis: 20rem;
    }
}
&__pay {
margin-top: 3rem;
}
&__discount {
    color: #d26a22;
    display: block;
    cursor: pointer;
}
&__list {
    display: flex;
    gap: 3.2rem;
    margin-top: 4.5rem;
    @media (max-width: $r_tab) {
        display: flex;
        justify-content: center;
        align-items: center;
     }
}
&__item {
    list-style-type: none;
    opacity: 0.4;
    transition: 2s;
    transform: scale(1.05);
    &:hover {
        opacity: 1;
    }
    @media (max-width: $r_tab) {
        opacity: 1;
     }
}
&__mastercard {
    width: 5.3rem;
    height: 3.2rem;
}
&__visa {
    width: 7.4rem;
    height: 2.3rem;
}
&__paypal {
    width: 8.7rem;
    height: 2.4rem;
}
}
.contact {
    padding-top: 19.9rem;
    padding-bottom: 16rem;
    @media (max-width: $r_tab) {
        padding-top: 5.8rem;
        padding-bottom: 6rem;
    }
    
     &-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $r_tab) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__holder {
        margin-top: 0rem;
        }
        .title {
           margin: 0;
           
        }
        
        &__text {
            max-width: 40rem;
            flex-grow: 1;
            margin-left: 11.8rem;
            line-height: 1.5;
            margin-top: 6rem;
            @media (max-width: $r_desk_1280) {
                margin-left: 8rem;  
            }
            @media (max-width: $r_desk_1120) {
                margin-left: 4rem;  
            }
            @media (max-width: $r_tab) {
                margin-bottom: 2rem;
            } 
              
        }
        &__list {
            list-style-type: none;
            margin-top: 6rem;
            margin-left: 0rem;  
            @media (max-width: $r_tab) {
                display: flex;
                justify-content: space-between;
                text-align: center; 
            } 
           
        }
    
        &__link {
            color: #27300f;
            line-height: 2;
            font-weight: 500;  
            font-family: $font-jost;
            font-size: 2.4rem;
            display: flex;
            align-items: center;
            gap: 3rem;
            @media (max-width: $r_tab) {
                font-size: 1.6rem;
                gap: 1rem;
               margin-bottom: 4rem;
               margin-top: -2rem;
            } 
            &::before {
                content: '';
               background-repeat: no-repeat;
               background-position: center;
               width: 2.9rem;
               height: 3rem;
               display: block;
               text-decoration: none;
               font-weight: 500;
               display: flex;
               align-items: center;
              
            }
        }
        &__tel {
                &::before {
                    content: '';
                    background-image: url(../images/catalog/phone.svg);
                    background-size: 2.9rem 3rem;
                }
        }
        &__mail {
            &::before {
                content: '';
                background-image: url(../images/catalog/mail.svg);
                background-size: 2.9rem 3rem;
            }
        }

    &__form {
        flex-basis: 58.9rem;
    }
   } 

.card {
    border: 2px solid rgba($green, 0.4);
    padding: 3.2rem 6.1rem;
    border-radius: 2rem;
    &__name {
        margin-bottom: 2rem;
    }
    &__title {
        font-size: 3rem;
        font-family: $font-cormorant;
        margin-top: 0rem;
        @media (max-width: $r_tab) {
            display: flex;
            justify-content: center;
           text-align: center;
        }
    }
    &__label {
        font-size: 1.2rem;
        display: block;
        margin-left: .6rem;
        margin-bottom: 1rem;
    }
    &__input {
        border: 1px solid rgba($green, 0.4);
        margin-bottom: 2.8rem;
        display: block;
        padding: 2.2rem 3rem;
        width: 100%;
        box-sizing: border-box;
        border-radius: 2rem;
    }
    &__check {
        font-size: 1.2rem;
        color: rgba($green, .6);
        line-height: 1.5;
       max-width: 36rem;
    }
    &__docs {
        color: rgba($green, .6);
        text-decoration: none;
        border-bottom: 1px solid #ecedec;
    }
    &__link {
        margin-top: 1.9rem;
        @media (max-width: $r_tab) {
            display: flex;
            justify-content: center;
           text-align: center;
        }
    }
}
}

.footer {
    border-top: 1px solid #d4d6cf;
    padding-top: 6.7rem;
    padding-bottom: 16rem;
    
&__box {
   display: flex;
    justify-content: space-between;
    margin-bottom: 5rem; 
    @media (max-width: $r_tab) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

    }
}
&__list {
    @media (max-width: $r_tab) {
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 3rem;
    }  
}

&__item {
    display: flex;
    list-style-type: none;
    gap: 17.6rem;
}

&__link {
    color: #27300f;
    line-height: 3;
    transition: 2s; 
    &:hover {
        color: $orange;
    }
}

&__info {
    color: #27300f;
    font-family: $font-jost;
    display: flex;
    flex-direction: column;
    line-height: 2.5;
    font-weight: 500;
    font-size: 2.4rem;  
    transition: 2s; 
    &:hover {
        color: $orange;
    }
}
&-time {
    display: flex;
    gap: 3rem;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

&-social {
    display: flex;
    gap: 3rem;
    @media (max-width: $r_tab) {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1.7rem;
        opacity: 0.8;
        &:hover{
            opacity: 1;
            cursor: pointer;
        }
        &::before {
            content: '';
            border: 1px solid $green;;
            border-radius: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            width: 4.4rem;
            height: 4.4rem;
              
        }
        &:nth-child(1) {
            &::before {
                content: '';
                background-image: url(../images/vk.svg);
                background-size: 2.3rem 2.3rem;
            }
        
        }
        &:nth-child(2) {
            &::before {
                content: '';
                background-image: url(../images/instagram.svg);
                background-size: 1.8rem 1.8rem;
            }
        
        }
        &:nth-child(3) {
            &::before {
                content: '';
                background-image: url(../images/facebook.svg);
                background-size: 1.8rem 1.8rem;
            }
        
        }
        
}

}
&__text {
    display: flex;
    justify-content: space-between;
    @media (max-width: $r_tab) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}
   
&__author {
    color: rgba($green, .6);
    transition: .2s;
    &:hover {
        color: rgba($green, 1);
    }
}
}

@keyframes shadow {
   0% {
    box-shadow: 0 0 0 0 rgba($green, .5);
   }
   50% {
    box-shadow: 2rem 2rem 3.3rem 0rem rgba(39, 48, 15, 0.5);
   }
   100% {
    box-shadow: 2rem 2rem 3.3rem 0rem rgba(39, 48, 15, 0.5);
   }
}