@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,600&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$white: #ffffff;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

html {
    font-size: 1rem;
}

body {
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green;
}
a{
   text-decoration: none;
    }


.logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 12rem;
    height: 3.2rem;
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
ul {
    margin: 0;
    padding-left: 0;
    text-decoration: none;
}

.header {
max-width: 144rem;
margin: 0 auto 6rem;
padding-top: 4rem;
padding-left: 1.5rem;
padding-right: 1.5rem;
display: flex;
justify-content: space-between;
align-items: center;
&__nav {
    display: flex;
    list-style-type: none;
    gap: 4.8rem;
}

&__link {
    color: $green;
    &:hover {
        color: $orange;
        transition: 0.2s;
    }
}
 &__tel {
    font-weight: 500;
    color: $green;
    &:hover {
        color: $orange;
        transition: 0.2s;
    }
}
&__cart {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-color: $orange;
    background-image: url(../images/cart.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.7rem 1.5rem;
    position: relative;
    cursor: pointer;
    border: 1px solid $orange;
    &:hover {
    background-color: $green;
    border: 1px solid $green;
    transition: 0.2s;
    }
}

&__counter {
    font-size: .8rem;
    color: $white;
    position: absolute;
    right: 1rem;
    top: .6rem;
}

}
.main {
    background-image: url(../images/main.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 18.7rem;
    &__item {
      margin-left: 12rem;  
      max-width: 37.8rem;
      margin-top: 6rem;
    }
    &__link {
    margin-top: 6rem;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        align-items: center;
    }
    &__cover {
        flex-basis: 76.3rem;
        height: 76.3rem;
        border: 0.1rem solid rgba($green, 0.4);
        border-radius: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__line {
        width: 65.8rem;
        height: 65.8rem;
        border: 0.1rem solid rgba($green, 0.4);
        border-radius: 100%;   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__image-bg {
        width: 77%;
    }
    &__text {
        padding-top: 2rem;
    }
    &__btn {
        background-color: transparent;
        border: none;
        padding: 0rem;
        position: absolute; 
        color: $green;
        text-align: left;
        cursor: pointer;
        transition: 0.2s;
       
        &::before {
            content: '';
            background-color: $green;
            width: 1.1rem;
            height: 1.1rem;
            box-shadow: 0 0 0 0.4rem $white, 0 0 0 0.5rem $green;
            border-radius: 100%;
            position: absolute; 

        }
        &_01 {
            top: 5.5rem;
            left: 6.3rem;
        
            &::before {
                bottom: 0.9rem;
                right: -3.5rem;
                &:hover {
                    color: #d26a22;
                }
            }
        }
        &_02 {
            top: 18.7rem;
            right: 1.4rem;
            &::before {
                bottom: 1.7rem;
                left: -2.6rem;
            }
        }
        &_03 {
            bottom: -4rem;
            right: 24rem;
            &::before {
                bottom: 5rem;
                left: 1rem;
            }
        }
    }
    img{
        position: absolute;
    }
    &__food {
       display: block; 
       color: rgba($green, 0.8);
    }

    &__tomato {
        right: 12rem;
        bottom: 13rem;
        width: 11rem;
    }
    &__avocado {
        right: 0rem;
        top: 5rem;
        width: 17rem;
    }
    &__cucumber {
        top: 0;
        left: 68rem;
        width: 8rem;
    }
    &__pepper {
        left: 3rem;
        top: 40rem;
        width: 8rem;
    }
    &__beans {
        bottom: 15rem;
        left: 0;
        width: 10rem;
    }
}
.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    margin: 0;

    &__span {
        font-style: italic;
        margin-top: -14px;
    }
    &_block {
        .title__span {
            display: block;
        }
    }
}
.description {
    margin: 0;
    line-height: 1.5;
    &_size-s {
        font-size: 1.8rem;
    }
    &_size-m {
        font-size: 2.4rem;
    }
}

.link {
color: $white;
letter-spacing: 0.13rem;
text-transform: uppercase;
padding: 2.4rem 4.3rem;
background-color: $orange;
box-shadow: 0rem 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
text-decoration: none;
border-radius: 3.8rem;
display: inline-block;
opacity: 0.8;
border: none;
&:hover  {
    opacity: 2;
    transition: 2s;
 }
&_min { 
    font-size: 1.4rem;
    padding: 2rem 3.4rem;
    box-shadow: 0rem 0.1rem 1.1rem .17rem rgba(207, 92, 13, 0.15);
    &:hover  {
    opacity: 1;
     }
}
}
.offer {
    background-image: url(../images/offer.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    padding-top: -2rem;
    padding-bottom: 12.8rem;

    &__text {
        margin-top: 5.4rem;
        max-width: 70rem;
    }
}

.slider {
    overflow: hidden;
    padding-top: 9.4rem;
}
.swiper {
    overflow: initial;
   &-slide {
    border: 0.1rem solid rgba($green, 0.4);
    border-radius: 2rem;
    padding: 3rem 3.7rem 3.8rem;
    justify-content: space-between;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    &_white {
        height: 52rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 4rem 3.7rem;
        &:hover {
            .swiper-slide__hover {
                height: 233px; 
                opacity: 1;
            } 
            &::after {
                content: '';
                background-color: rgba($white, .55);
                width: calc(100% - 4px);
                height: calc(100% - 4px);
                top: 0.2rem;
                left: 0.2rem;
                position:absolute;
                border-radius: 2rem;
                z-index: -1;
            }
        } 
    }
    &:hover {
        box-shadow: 0 0 0 0.2rem rgba($green, 0.4) inset;
        .swiper-slide__hover {
            height: 233px; 
            opacity: 1;
        }
        &::after {
            content: '';
            background-color: rgba($white, .55);
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            top: 0.2rem;
            left: 0.2rem;
            position:absolute;
            border-radius: 2rem;
            z-index: -1;
        }
    }
&_milk {
    background-image: url(../images/milk.png);
}
&_pasta {
    background-image: url(../images/pasta.png);
}
&_steaks {
    background-image: url(../images/steaks.png);
}
   &__title {
    font-family: $font-cormorant;
    font-size: 3rem;
    color: $green;
    margin-bottom: 0;
   }
   &__hover {
    height: 0;
    opacity: 0;
   }
   &__text {
    font-size: 1.6rem;
    color: rgba($green, 0.7);
    max-width: 26.3rem;
    line-height: 1.5;
    margin-bottom: 3.4rem;
    margin-top: 2.5rem;
   }
   &__description {
    font-size: 1.8rem;
    color: rgba(39, 48, 15, 0.7);
    margin-top: 2rem;
    margin-bottom: 0;
    min-height: 5.5rem;
    max-width: 30rem;
    line-height: 1.5;
}
&__price {
    font-size: 2.4rem;
    margin-top: 3rem;
}
   &__link {
    text-transform:uppercase;
    font-weight: 500;
    color: rgba($green, 0.8);
    text-decoration: none;
    letter-spacing: 0.1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
    &::before {
        content: '';
        display: block;
        width: 3rem;
        height: 3rem;
        background-image: url(../images/plus.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

&__cover {
    position: relative;
    overflow: hidden;   
    width: 100%;
    height: 32.2rem;
    text-align: center;
}

&__image {
   height: 100%;
   width: 100%;
   max-width: 35.1rem;
   object-fit: contain;
   
}
&__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
   }
   &-pagination {
    display: none;
   }
   &-button-next, &-button-prev {
    top: -6rem;
    &:hover {
        &::after {
            color: rgba($green, 1);
         }
    }
    &::after {
       color: rgba($green, 0.4); 
       font-size: 2rem;
    }
   }
   &-button-next {
    right: -0.8rem;
   }
   &-button-prev {
    left: initial;
    right: 10rem;
   }
}
.counter {
    display: flex;
    &__btn {
        cursor: pointer;
        height: 50px;
        width: 50px;
        border: 0.1rem solid $green;
        background-color: transparent;
        padding: 0;
        border-radius: 100%;
        &_min {
            width: 4rem;
            height: 4rem;
        }
    }
    &__minus {
        pointer-events: none;
        background-image: url(../images/minus-counter.svg);
        background-size: 2rem 1.1rem;
        background-repeat: no-repeat;
        background-position: center;
        opacity: .4;
    }
    &__plus {
        background-image: url(../images/plus-counter.svg);
        background-size: 2rem 1.1rem;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__input {
        text-align: center;
        font-size: 2.4rem;
        width: 4.6rem;
        border: none;
        &_min {
            width: 3.3rem;
        }
    }
}

.about {
        background-image: url(../images/unique.png);
        background-size: cover;
        background-position-x: center;
        background-repeat: no-repeat;
        
        .title {
            margin-top: 3.9rem;
        }
        &__box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 6rem;  
        }
        &__text {
            margin-left: 12rem;  
            flex-basis: 62rem;
            
        }
        &__list {
            list-style-type: none;
            display: flex;
            gap: 9rem;
            font-family: $font-cormorant;
            font-style: italic;
            font-size: 3rem;
            margin: 0;
            padding-left: 0;
            margin: 0;
        }
        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &::before {
                content: '';
                border: 1px solid rgba($green, 0.4);
                border-radius: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                width: 84px;
                height: 84px;
                margin-bottom: 1.5rem;  
            }
            &:nth-child(1) {
                &::before {
                    background-image: url(../images/fruits.svg);
                    background-size: 4.4rem 4.1rem;
                }
            }
            &:nth-child(2) {
                &::before {
                    background-image: url(../images/traditional.svg);
                    background-size: 4rem 4rem;
                }
            }
            &:nth-child(3) {
                &::before {
                    background-image: url(../images/good.svg);
                    background-size: 4rem 4rem;
                }
            }
        }
}

.trends {
        background-image: url(../images/trendsimg.png);
        background-size: cover;
        background-position-x: center;
        background-repeat: no-repeat;
        
        .title {
            margin-top: 19rem;
        }

        &__text {
        margin-top: 32px;
    }
}

.catalog {
        background-image: url(../images/trendsimg.png);
        background-size: cover;
        background-position-x: center;
        background-repeat: no-repeat;
        .title {
            margin-top: 17.3rem;
        }
        &__text {
        margin-top: 32px;
    }

    &__list {
        margin-top: 8.5rem;
        margin-bottom: 5rem;
    }
}
.variants {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 0;
    list-style-type: none;
    &__list {
        flex-basis: 23rem;
        text-align: center;
    }
    &__link {
        flex-basis: 23rem;
        text-align: center;
        padding: 2.4rem 0;
        border: .1rem solid  rgba($green, .5);
        color: rgba($green, .5);
        font-size: 1.8rem;
        text-decoration: none;
        border-radius: 4rem;
        display: block;
        &:hover {
            border: .1rem solid $orange;
            color: $orange;
        }
    }
}

.catalog-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
&__item {
    border: 0.1rem solid rgba($green, 0.4);
    border-radius: 2rem;
    padding: 2.7rem 3rem 3.8rem;
    box-sizing: border-box;
    &:hover {
        box-shadow: 0 0 0 0.2rem rgba($green, 0.4) inset;
    }
}
&__cover {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 21rem;
    text-align: center;
}
&__image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
&__title {
    font-family:$font-cormorant;
    font-size: 3rem;
    color: #27300f;
    margin-top: 1.7rem;
    margin-bottom: 0;
}
&__description {
    font-size: 1.6rem;
    color: rgba($green, .7);
    margin-top: 1.8rem;
    margin-bottom: 0;
    min-height: 6.1rem;
    max-width: 30rem;
    line-height: 1.5;
}
&__price {
    font-size: 2.4rem;
    margin-bottom: 3rem;
    margin-top: 0;
}
&__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}
.refresh {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
   
    &__btn {

        text-transform: uppercase;
        font-size: 1.6rem;
        font-style: $font-jost;
        color: rgba($green, 0.8);
        border: none;
        background: transparent;
        
        &::before {
            content: '';
           background-image: url(../images/refresh.svg);
           background-size: 2rem;
           background-repeat: no-repeat;
           width: 3rem;
           opacity: 80%;
           
        }
    }
}
.payment {
   .title {
    margin-top: 13.8rem;
   }
   
   &__box {
    display: flex;
    justify-content: space-between;
    margin-top: 6.6rem;  
}
&__link {
    color: $green;
    text-decoration: none;
    position: relative;
    &::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #858881;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}
   &__text {
    margin-left: 12rem;  
    flex-basis: 62rem;
}
&__pay {
margin-top: 3rem;
}
&__discount {
    color: #d26a22;
    display: block;
    cursor: pointer;
}
&__list {
    display: flex;
    gap: 3.2rem;
    margin-top: 4.5rem;
    
}
&__item {
    list-style-type: none;
    opacity: 0.4;
    &:hover {
        opacity: 1;
    }
}
&__mastercard {
    width: 5.3rem;
    height: 3.2rem;
}
&__visa {
    width: 7.4rem;
    height: 2.3rem;
}
&__paypal {
    width: 8.7rem;
    height: 2.4rem;
}
}
.contact {
    padding-top: 19.9rem;
    
     &-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__holder {
        margin-top: 0rem;
        }
        .title {
           margin: 0;
        }
        
        &__text {
            max-width: 40rem;
            flex-grow: 1;
            margin-left: 11.8rem;
            line-height: 1.5;
            margin-top: 6rem;
        }
        &__list {
            list-style-type: none;
            margin-top: 6rem;
            margin-left: 0rem;   
           
        }
        &__link {
            color: #27300f;
            line-height: 2;
            font-weight: 500;  
            font-family: $font-jost;
            font-size: 2.4rem;
            display: flex;
            align-items: center;
            gap: 3rem;
            &::before {
                content: '';
               background-repeat: no-repeat;
               background-position: center;
               width: 2.9rem;
               height: 3rem;
               display: block;
               text-decoration: none;
               font-weight: 500;
               display: flex;
               align-items: center;
              
            }
        }
        &__tel {
                &::before {
                    content: '';
                    background-image: url(../images/catalog/phone.svg);
                    background-size: 2.9rem 3rem;
                }
        }
        &__mail {
            &::before {
                content: '';
                background-image: url(../images/catalog/mail.svg);
                background-size: 2.9rem 3rem;
            }
       
        }

    &__form {
        flex-basis: 58.9rem;
    }
   } 






.card {
    border: 2px solid rgba($green, 0.4);
    padding: 3.2rem 6.1rem;
    border-radius: 2rem;
    &__name {
        margin-bottom: 2rem;
    }
    &__title {
        font-size: 3rem;
        font-family: $font-cormorant;
        margin-top: 0rem;
    }
    &__label {
        font-size: 1.2rem;
        display: block;
        margin-left: .6rem;
        margin-bottom: 1rem;
    }
    &__input {
        border: 1px solid rgba($green, 0.4);
        margin-bottom: 2.8rem;
        display: block;
        padding: 2.2rem 3rem;
        width: 100%;
        box-sizing: border-box;
        border-radius: 2rem;
    }
    &__check {
        font-size: 1.2rem;
        color: rgba($green, .6);
        line-height: 1.5;
       max-width: 36rem;
    }
    &__docs {
        color: rgba($green, .6);
        text-decoration: none;
        border-bottom: 1px solid #ecedec;
    }
    &__link {
        margin-top: 1.9rem;
    }
}
}
.wrapper {
    background-image: url(../images/catalog/footer.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
  
}

.footer {
&__box {
    margin-top: 29rem;
    margin-bottom: 6.2rem;
    display: flex;
    justify-content: space-between;
    
}
&__logo {
    display: block;
    background-image: url(../images/logo-footer.svg);
    background-size: cover;
    background-size: contain;
    width: 30.7rem;
    height: 4.8;
}
&__item {
    display: flex;
    list-style-type: none;
    gap: 17.6rem;
}
&__link {
    color: #27300f;
    line-height: 3;
}

&__info {
    color: #27300f;
    font-family: $font-jost;
    display: flex;
    flex-direction: column;
    line-height: 2.5;
    font-weight: 500;
    font-size: 2.4rem;    
}

&-social {
    display: flex;
    gap: 3rem;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0.8;
        &:hover{
            opacity: 1;
            cursor: pointer;
        }
        &::before {
            content: '';
            border: 1px solid $green;;
            border-radius: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            width: 4.4rem;
            height: 4.4rem;
              
        }
        &:nth-child(1) {
            &::before {
                content: '';
                background-image: url(../images/vk.svg);
                background-size: 2.3rem 2.3rem;
            }
        
        }
        &:nth-child(2) {
            &::before {
                content: '';
                background-image: url(../images/instagram.svg);
                background-size: 1.8rem 1.8rem;
            }
        
        }
        &:nth-child(3) {
            &::before {
                content: '';
                background-image: url(../images/facebook.svg);
                background-size: 1.8rem 1.8rem;
            }
        
        }
        
}

}
&__text {
    display: flex;
    justify-content: space-between;
}

}